.file-parser {
    max-height: 800px;
    overflow: auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;

  .errors {
    .title {
      margin-bottom: 1em;
      font-weight: 600;
      font-size: 1.2em;

    }
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;


    .error {
      margin-bottom: 1em;
      height: 100%;
      color: red;
    }
  }

  .selects {
    margin-left: 2em;
    display: flex;
    flex-direction: column;
    width: 17em;

    .select-title {
      margin-top: 1em;
    }

    .selection-error {
      margin-top: 3em;
      color: red;
    }
  }
  
}