.container {
  height: 30em;
  width: 30em;

  &:hover {
    cursor: pointer;
  }
  
  .title {
    width: 100%;
    text-align: left;
    margin-bottom: 1em;
    font-size: 1.2em;
    font-weight: 600;
  }


  .messages {
    padding: 1em;
    height: 4em; 
    .error {
      color: red;
    }
  }

  .options {
    width: 100%;
    margin: 1em 0;
    
    .select-option {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;

      .radio-buttons {
        text-align: left;
      }
    }
  }
}
